.DS_Store
builds
build
bundle
*.so
*.o
autoconfig.h
Makevars
config.log
docs
config.status
.Rproj.user
*.Rproj
rstudio-build.sh
run-checks
.vscode
autoconfig.R
autoconfig.hpp
vignettes/*_cache
vignettes/*_files
.Rhistory
tests/debug
Rplots.pdf
testthat-problems.rds
/doc/
/Meta/
/notes/
/renv/
renv.lock
.Rprofile
.renvignore
