language: r
cache: packages
r:
- release
warnings_are_errors: true
r_packages:
- pkgdown
- rmarkdown

env:
  global:
  - MAKE="make -j 2"
  - GIT_BRANCH="${TRAVIS_BRANCH}"
  - secure: RJgjQUwDMQSU+qlmP2XZTiS1bB0fj7cTMU7kEZ7IRiMlRasqk5waFg1x9ypV79/LGULvDxBUEc8bV7eEhDy3PfjS/GiedySQTY+hZArtk4QMNnRvsKgoib2RA275kLo3Yb7jc7YhMhoooOCLmKleRy5GT4yY0KX0/riBmF7ia7Sh1dd4BhD07ytHH5cIARxmqa7plyyx3NwZbEFQTAxdfIXROwDvlSiQWF5PoFMkBARGnhIpmF2TgLITgSKpYnAkthG1Bpyn4FJCtoxihXr0upFNeALsRKiLQ8fPaHcIsAdiOkhNKC/Aoo4I65Vrcu4FTIdywSfmTP18nTo4NK+UaN55pvjVBqb9gvpOPhZQPnNuetm43jz/SO4yQ/nL8iQNGSBpY0VBSC/HYibiEDIjZrfdXduW/e81gk7W974B1MoxDNN7BqpLRg+DXSVg1/Ua1uGzMON7rOpvUzQNDcMaFXRdN5DcFOeVJapcAxPxsK/TsDw7akuihYO7RJbn7fBjICLokwFviI664NDcnKQy9vPUn8igOWGg/8IgqVPS2VQd4jUTr1dM++EF3Q2kHOQaH3vwKZBDs7c6VGKrZvXAclkPl7Jdi9tSA4u7NLJOY18NLtL5oJlq1wX6F5j8LjaAzKUiYrRgKT+RiThzYtaiOfxQsXbqTsU1XPLEep3rjWk=

branches:
  only:
  - main
  - "/^release\\/v?[\\d\\.]+$/"

stages:
- name: Check
  if: commit_message != "Re-build README.Rmd"
- name: "Extended checks"
  if: commit_message != "Re-build README.Rmd" AND branch != main


jobs:
- stage: Check
  after_success:
  - R CMD INSTALL .
  - git pull
  - git checkout ${TRAVIS_BRANCH}
  - Rscript -e 'rmarkdown::render("README.Rmd")'
  - git config --local user.email "ci@travis-ci.com"
  - git config --local user.name "Travis CI"
  - git add README.md || echo "Nothing added"
  - git commit README.md -m 'Re-build README.Rmd' || echo "No changes to commit"
  - git remote add originpush "https://${GITHUB_PAK}@github.com/${TRAVIS_REPO_SLUG}"
  - git push --set-upstream originpush ${TRAVIS_BRANCH} || echo "No changes to push"
  before_deploy:
  - Rscript -e 'pkgdown::build_site()'
  deploy:
    edge: true
    provider: pages
    token: ${GITHUB_PAK}
    keep_history: true
    local_dir: docs
    on:
      branch: main
- stage: "Extended checks"
  name: R-devel
  r: devel
- stage: "Extended checks"
  name: R-oldrel
  r: oldrel
