# Workflow derived from https://github.com/r-lib/actions/tree/master/examples
on:
  push:
    branches:
      - 'research/**'
      - 'feature/**'

name: 'R CMD check (fast)'

permissions: read-all

jobs:
  R-CMD-check:
    runs-on: macOS-latest

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      PENSE_TESTTHAT_ENABLED: yes

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: release
          http-user-agent: release
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck, local::.
          needs: check

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: false
        env:
          _R_CHECK_CRAN_INCOMING_REMOTE_: false
          _R_CHECK_CRAN_INCOMING_: false

      - name: Upload check results
        uses: actions/upload-artifact@main
        with:
          name: check-package-fast-results
          path: check
